@model IEnumerable<EducationProject.Models.Course>
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home"style="height:300px">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center"style="height:200px">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Mağaza
                </h1>
                <p class="text-white link-nav"><a asp-action="Index" asp-controller="Home">Kurslar </a>  <span class="lnr lnr-arrow-right"></span>  <a asp-action="Courses" asp-controller="Home"> Arama</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">

                    <form asp-controller="Home" asp-action="Search">
                        <p>
                            <input type="text" name="search" placeholder="Arama">
                            <input type="submit" value="Filter" />
                        </p>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var course in Model)
            {
                <div class="single-popular-carusel col-lg-3 col-md-6">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>

                            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
                                <img class="img-fluid" style="height:240px;width:320px" alt="" src="~/img/@course.ThumbnailUrl" onerror="this.onerror=null;this.src='../img/default.png';" />
                            </a>
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"   ></span> 0 <span class="lnr lnr-bubble"></span>1</p>
                            <h4>@course.Price₺</h4>
                        </div>
                    </div>
                    <div class="details">


                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id"><h4>@course.Name</h4></a>

                        <div class="title text-center">

                            <a>

                                @course.Description
                            </a>
                        </div>

                    </div>
                </div>

            }


        </div>
        <a asp-area="" asp-controller="Courses" class="primary-btn text-uppercase mx-auto" style="padding-left:480px;padding-right:480px" asp-action="Lists">Load More Courses</a>
    </div>
</section>
